@charset "utf-8";

/* utility margin setting
----------------------------------------------------------- */

/* margin-top */
.u-mt0 {margin-top:0 !important;}
.u-mt5 {margin-top:5px !important;}
.u-mt10 {margin-top:10px !important;}
.u-mt12 {margin-top:12px !important;}
.u-mt15 {margin-top:15px !important;}
.u-mt20 {margin-top:20px !important;}
.u-mt25 {margin-top:25px !important;}
.u-mt30 {margin-top:30px !important;}
.u-mt35 {margin-top:35px !important;}
.u-mt40 {margin-top:40px !important;}
.u-mt45 {margin-top:45px !important;}
.u-mt50 {margin-top:50px !important;}

/* margin-right */
.u-mr0 {margin-right:0 !important;}
.u-mr5 {margin-right:5px !important;}
.u-mr10 {margin-right:10px !important;}
.u-mr12 {margin-right:12px !important;}
.u-mr15 {margin-right:15px !important;}
.u-mr20 {margin-right:20px !important;}
.u-mr25 {margin-right:25px !important;}
.u-mr30 {margin-right:30px !important;}
.u-mr35 {margin-right:35px !important;}
.u-mr50 {margin-right:40px !important;}
.u-mr45 {margin-right:45px !important;}
.u-mr50 {margin-right:50px !important;}

/* margin-bottom */
.u-mb0 {margin-bottom:0 !important;}
.u-mb5 {margin-bottom:5px !important;}
.u-mb8 {margin-bottom:8px !important;}
.u-mb10 {margin-bottom:10px !important;}
.u-mb12 {margin-bottom:12px !important;}
.u-mb15 {margin-bottom:15px !important;}
.u-mb20 {margin-bottom:20px !important;}
.u-mb25 {margin-bottom:25px !important;}
.u-mb30 {margin-bottom:30px !important;}
.u-mb35 {margin-bottom:35px !important;}
.u-mb40 {margin-bottom:40px !important;}
.u-mb45 {margin-bottom:45px !important;}
.u-mb50 {margin-bottom:50px !important;}

/* margin-left */
.u-ml0 {margin-left:0 !important;}
.u-ml5 {margin-left:5px !important;}
.u-ml10 {margin-left:10px !important;}
.u-ml12 {margin-left:12px !important;}
.u-ml15 {margin-left:15px !important;}
.u-ml20 {margin-left:20px !important;}
.u-ml25 {margin-left:25px !important;}
.u-ml30 {margin-left:30px !important;}
.u-ml35 {margin-left:35px !important;}
.u-ml40 {margin-left:40px !important;}
.u-ml45 {margin-left:45px !important;}
.u-ml50 {margin-left:50px !important;}


/* utility padding setting
----------------------------------------------------------- */
/* padding-top */
.u-pt0 {padding-top:0 !important;}
.u-pt5 {padding-top:5px !important;}
.u-pt10 {padding-top:10px !important;}
.u-pt12 {padding-top:12px !important;}
.u-pt15 {padding-top:15px !important;}
.u-pt20 {padding-top:20px !important;}
.u-pt25 {padding-top:25px !important;}
.u-pt30 {padding-top:30px !important;}
.u-pt35 {padding-top:35px !important;}
.u-pt40 {padding-top:40px !important;}
.u-pt45 {padding-top:45px !important;}
.u-pt50 {padding-top:50px !important;}

/* padding-right */
.u-pr0 {padding-right:0 !important;}
.u-pr5 {padding-right:5px !important;}
.u-pr10 {padding-right:10px !important;}
.u-pr15 {padding-right:15px !important;}
.u-pr20 {padding-right:20px !important;}
.u-pr25 {padding-right:25px !important;}
.u-pr30 {padding-right:30px !important;}
.u-pr35 {padding-right:35px !important;}
.u-pr50 {padding-right:40px !important;}
.u-pr45 {padding-right:45px !important;}
.u-pr50 {padding-right:50px !important;}

/* padding-bottom */
.u-pb0 {padding-bottom:0 !important;}
.u-pb5 {padding-bottom:5px !important;}
.u-pb10 {padding-bottom:10px !important;}
.u-pb12 {padding-bottom:12px !important;}
.u-pb15 {padding-bottom:15px !important;}
.u-pb20 {padding-bottom:20px !important;}
.u-pb25 {padding-bottom:25px !important;}
.u-pb30 {padding-bottom:30px !important;}
.u-pb35 {padding-bottom:35px !important;}
.u-pb40 {padding-bottom:40px !important;}
.u-pb45 {padding-bottom:45px !important;}
.u-pb50 {padding-bottom:50px !important;}

/* padding-left */
.u-pl0 {padding-left:0 !important;}
.u-pl5 {padding-left:5px !important;}
.u-pl10 {padding-left:10px !important;}
.u-pl15 {padding-left:15px !important;}
.u-pl20 {padding-left:20px !important;}
.u-pl25 {padding-left:25px !important;}
.u-pl30 {padding-left:30px !important;}
.u-pl35 {padding-left:35px !important;}
.u-pl40 {padding-left:40px !important;}
.u-pl45 {padding-left:45px !important;}
.u-pl50 {padding-left:50px !important;}

/* text-align */
.u-text-left{
    text-align: left !important;
}
.u-text-center{
    text-align: center !important;
}
.u-text-right{
    text-align: center !important;
}


